
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Medium.ttf);
}

.my_tile {
  width: 100% !important;
}
.homepagebtn{
  background: white;
  padding:14px;
  color: black;
  font-weight: bold;
  text-decoration: bold;
}
.hmbutton{
  min-width: 80% !important;
      border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}
.slide1{
  background: url('../images/bg-bubbles.png') no-repeat center center;
  height: 100%;
}
.slide2{
  background: url('../images/bg-bubbles2.png') no-repeat center center;
  height: 100%;
}
.slide3{
  background: url('../images/meet.png') no-repeat center center;
  height: 100%;
}
.bottom {

    bottom: 0;
}
.slides{
  height: 100% !important;
     background-image: -webkit-linear-gradient(top, #044f58;, #249ead);
                background-image: -moz-linear-gradient(top, #044f58, #249ead);
                background-image: -ms-linear-gradient(top, #044f58, #249ead);
                background-image: -o-linear-gradient(top, #044f58, #249ead);
                background-image: linear-gradient(to top, #044f58, #249ead);
  color: white;
}
.slides h2{
  color:white;
  font-weight: 700;
}
.slides p{
  text-decoration: italic !important;
}
@-webkit-keyframes slideIn{
  0%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}
@-webkit-keyframes slideInSmooth{
  0%{
    -webkit-transform: translate3d(-100%,0,0);
  }
  100%{
    -webkit-transform: translate3d(0,0,0);
  }
}
.slideIn{
   -webkit-animation: slideInSmooth ease-in 1;
   animation: slideInSmooth ease-in 1;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -webkit-animation-duration:350ms;
   animation-duration: 350ms;
}

.my_darkpanel{
color: black; 
background: #d2d2d2 !important;
margin-top: 5px;
margin-bottom: 5px;
border-top:2px solid #FCC930;
border-bottom:2px solid #FCC930;}
.paneltile{
  color: black; 
  background: transparent !important;
  box-shadow:none !important;
}
.font_style {
  font-family: Roboto;
}

.view_theme {
  background-color: #211E27 !important;
}

.tabs-custom > .tabs,
.tabs.tabs-custom {
  background-color: #FCC930 !important;
}

.img-profile {
  margin:0 auto;
  position:center;
  border-radius:50%;
}

.parent {
  text-align: center;
}


.item-footer {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -4px;
    margin-bottom: -4px;
    height: 40px;
}
.special_tile{
  margin: 0px !important;
}
.label_center{
  margin-left: 30% !important;
}
