<ion-view view-title="Classrooms" hide-back-button="false">
	<ion-content>
		<div class="card" ng-repeat="course in courses">
			<div class="item" style="background-color: #679DFD;">
				<h2 style=" color: #ffffff; font-weight:bold; ">{{course.title}}</h2>
			</div>
			<div class="item item-body">
				{{course.description}}
			</div>
			<div class="item item-footer">
				<div class="row no-padding">
				<div class="col">
					<a class="button button-small button-assertive button-clear " style="font-weight: bold " ng-click="enroll({{course.course_id}})">
						<i class = "icon-left ion-android-favorite-outline"></i>
						Enroll
					</a>
				</div>
				<div class="col">
					<a class="button button-small button-assertive button-clear" style="font-weight: bold " ng-click="view({{course.course_id}})">
						<i class = "icon-left ion-eye"></i>
						View
						
					</a>
				</div>
				<div class="col">
					<a class="button button-small button-assertive button-clear text-right">
						<i class = "icon-left ion-forward"></i>
						Share
						
					</a>
				</div>
				</div>
			
			</div>
		</div>
		
		
	</ion-content>
</ion-view>
