<ion-view title="Welcome" hide-back-button="false">
        <ion-content padding="true" overflow-scroll="true">
		<div style="margin-top: 30%">
          <section ng-video>
			  <video style="width: 100%"vi-screen autoplay>
				  	<input vi-timeline />
			  </video>
			  
			  <section vi-controls style="height: 15%">
					<div style="text-align: center">
    				<a vi-controls-play class="button button-small button-assertive button-clear"><i class = "icon ion-play"></i></a>
				  <a vi-controls-pause class="button button-small button-assertive button-clear"><i class= "icon ion-pause"></i></a>
				  <a vi-full-screen-toggle class="button button-small button-assertive button-clear"><i class= "icon ion-android-expand" style="float: right"></i></a>
				  </div>
			</section>
			</section>
			</div>
			
        </ion-content>
</ion-view>