<ion-view view-title="Get Extra Credit" hide-back-button="true">
	<ion-content>
	
		
		<ion-slides options="options"  slider="data.slider" style="height: 50%; width: 100%">

   			<ion-slide-page>
      			<img class="icon" src="images/pic1.jpg" style="width: 100%; height: 100%;"/>
				
   			</ion-slide-page>

   			<ion-slide-page>
      			<img src="images/pic2.jpg" style="width: 100%; height: 100%"/>
   			</ion-slide-page>

   			<ion-slide-page>
      			<img src="images/pic3.jpg" style="width: 100%; height: 100%"/>
   			</ion-slide-page>

		</ion-slides>
		
		<div class="row">
			<div class="col text-center">
				<button class="button button-balanced">
					<i class="icon-right ion-social-facebook" style="font-size: 20px"></i>
					Share with friends
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<button class="button button-assertive" ng-click="quick_enroll()">
					
					No Thanks
					<i class="icon-right ion-arrow-right-c"></i>
				</button>
			</div>
		</div>
		
		
		
		
		
	</ion-content>
</ion-view>