
<ion-view view-title="Signup" hide-back-button="true">
	<ion-content>
	
		
		
		<div class="list">
			<form name="myForm">
			
			<label class="item item-input item-floating-label">
				<span class="input-label">Name</span>
				<input type="text"  placeholder="Name" name="name_input" ng-model="details.name" required>
				<span style="color:red" ng-show="myForm.name_input.$dirty && myForm.name_input.$invalid">
					<span ng-show="myForm.name_input.$error.required">Name is required.</span>
				</span>
			</label>
			
			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="email"  placeholder="Email" name="email" ng-model="details.email" required>
				<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
			</label>
			
			<label class="item item-input item-floating-label">
				<span class="input-label">Phone number</span>
				<input type="tel"  placeholder="Phone number" name="tel" ng-model="details.phone_number" required>
				<span style="color:red" ng-show="myForm.tel.$dirty && myForm.tel.$invalid">
  					<span ng-show="myForm.tel.$error.required">Phone number is required.</span>
  				</span>
			</label>
			
			<label class="item item-input item-floating-label">
				<span class="input-label">Password</span>
				<input type="password" placeholder="Password" name="password" ng-model="details.password" required>
				<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
  					<span ng-show="myForm.password.$error.required">Password is required.</span>
  				</span>
			</label>
			
			<label class="item item-input item-floating-label">
				<span class="input-label">Confirm Password</span>
				<input type="password" placeholder="Confirm Password" name="password2"ng-model="details.confirm_password" required>
				<span style="color:red" ng-show="myForm.password2.$dirty && myForm.password2.$invalid">
  					<span ng-show="myForm.password2.$error.required">Password is required.</span>
  				</span>
			</label>
				
			</form>
			<div class="row">
				<div class="col text-center">
					<button class="button button-positive " ng-click="next()" ng-disabled="myForm.$invalid">
   						Next
						<i class="icon-right ion-arrow-right-c"></i>
					</button>
				</div>
			</div>
			
		</div>
	</ion-content>
</ion-view>
