<ion-view  title="Login" name="login-view" hide-nav-bar="true">
  <ion-content class="padding slides">
  
      <div style="padding-top: 15%">
      <h3 style="font-weight: 100; color: white">Login to your account</h3>
      <br>
      <p>Username:</p>
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label><br>
      <p>Password:</p>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block" style="    border-bottom: 5px solid #907b06;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #d4b50a;
    color: #fff;" ng-click="login()">Login</button>
      <br><br>
      <p ng-click="signup()" style="text-align: center;">Don't have an account yet? <b>Signup Now</b></p>
  </ion-content>
</ion-view>
