
<ion-view view-title="PluralCode">
	
<ion-content>
	
	
	
	<div class="row">
		<div class="col">
			<button class="button button-block button-large button-positive button-outline button-icon-left icon ion-university">
				Classrooms
			</button>
		</div>
		<div class="col">
			<button class="button button-block button-large button-positive button-outline button-icon-left icon ion-social-codepen"> 
				Code Editor
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-block button-large button-positive button-outline button-icon-left icon ion-archive">
				Offline Archives
			</button>
		</div>
		<div class="col">
			<button class="button button-block button-large button-positive button-outline button-icon-left icon ion-trophy">
				Achievements
			</button>
		</div>
	</div>
	
    <div class="row">
		<button class="button button-block button-positive button-icon-left icon ion-android-people">
			Book a live mentor
		</button>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-block button-large button-royal button-outline button-icon-left icon ion-ios-telephone-outline">
				Contact us
			</button>
		</div>
		<div class="col">
			<button class="button button-block button-large button-royal button-outline button-icon-left ion-android-person-add">
				Invite a friend
			</button>
		</div>
	</div>
 


</ion-content>
</ion-view