
<ion-view view-title="Welcome To Pluralcode" hide-nav-bar="true">
  <ion-content>
  
  <ion-slide-box class="slides">
  
    <ion-slide>
    <br/><br/>
     <div class="slide1">
     <center>
     <img src="images/pc.png" width="200px">
     <br><br/>
     <img src="images/logo.png">
     <br/>
      <h2 class="animated pulse">LEARN TO CODE, FREE</h2>
      <p class="animated fadeIn">Join over 10,000+ people who are already learning!</p>
      <br>
      <img src="images/community.png" class="animated pulse infinite" />
      </center>
      <br/>  <br/>  <br/>
      <img src="images/sw.png" style="float: right;">
      </div>
    </ion-slide>
    <ion-slide>
      <br/><br/>
     <div class="slide2">
     <center>
     <img src="images/pc.png" width="200px">
     <br><br/>
     <img src="images/logo.png">
     <br/>
      <h2 class="animated pulse">START YOUR TECH CAREER</h2>
      <p class="animated fadeIn">Earn certificates, sell your skills and get a great job!</p>
      <br>
      <img src="images/learn.png" class="animated pulse infinite" />
      </center>
      <br/>  <br/>  <br/>
      <img src="images/sr2.png" style="float: right;">
      </div>

    </ion-slide>
    <ion-slide>
        
     <div class="slide3" style="padding-top: 40%;">
     <center>
     <img src="images/pcwhite.png" width="200px">
     <br> <br> <br> <br> <br> <br>
      <p class="animated fadeIn" style="font-size: 24px;line-height: 1.5">Join the large community of coders today</p>
      <br> <br> <br> 
      <button class="hmbutton hompagebtn" ng-click="login()"><b>Get Started</b></button>
      </center>
      
      
      </div>

    </ion-slide>
    
  </ion-slide-box>
  
  </ion-content>
</ion-view>
